:root{
  --color-light: #fff;
  --color-dark: #000;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  line-height: 1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @include font-family("MazzardH", 400);
}

a {
  color: inherit;
  text-decoration: none;
  outline-offset: 0 !important;
  border: 0.2rem solid transparent;
  border-radius: 0.4rem;
  outline: -webkit-focus-ring-color auto 0 !important;
  transition: border-color 0.3s ease-in-out;

  &:focus-visible {
    border-color: #fff;
  }
}


ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  @include font-family("TTOctosquares", 400);
  line-height: 1;
}

button {
  border: 0;
  padding: 0;
  background: none;
  outline-offset: 0 !important;
  outline: -webkit-focus-ring-color auto 0 !important;
  cursor: pointer;
}
